.characterImage:focused {
    -fx-effect: dropshadow(gaussian, #7EA3D5, 5, 0.75, 0, 0);
}

.characterImage:hover,
.speech-box:hover,
.thought-box:hover,
.thought-box-left:hover,
.narrative-bar:hover {
    -fx-effect: dropshadow(gaussian, #ff7a7a, 5, 0.75, 0, 0);
}

.speech-box {
    -fx-shape: "M54,2.5H6c-3.252,0-6,2.748-6,6v33c0,3.252,2.748,6,6,6h14.555l8.702,9.669C29.446,57.38,29.716,57.5,30,57.5 s0.554-0.12,0.743-0.331l8.702-9.669H54c3.252,0,6-2.748,6-6v-33C60,5.248,57.252,2.5,54,2.5z";
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-padding: 15 20 30 20;
}

.small-dialogue {
    -fx-font-size: 16;
}

.medium-dialogue {
    -fx-font-size: 13;
}

.large-dialogue {
    -fx-font-size: 9;
}

.thought-box {
    -fx-shape: "M56.866 41.281 C57.427 41.732 57.713 42.24 57.784 42.931 57.831 43.381 57.927 43.564 58.19 43.747 58.929 44.269 58.953 45.509 58.238 46.283 57.999 46.551 57.701 46.748 57.522 46.748 57.307 46.748 57.224 46.819 57.224 47.002 57.224 47.904 55.626 48.327 54.6 47.707 54.254 47.496 54.004 47.214 53.885 46.932 53.729 46.523 53.646 46.467 53.217 46.467 52.585 46.467 51.977 45.988 51.762 45.311 51.608 44.832 51.619 44.734 51.846 44.171 51.989 43.832 52.096 43.282 52.096 42.916 52.096 42.029 52.478 41.38 53.157 41.127 53.634 40.958 53.729 40.958 54.231 41.197 54.756 41.465 54.791 41.465 55.197 41.225 55.769 40.872 56.389 40.902 56.866 41.281 Z M32.275 2.326 C34.327 2.777 35.817 3.566 36.651 4.624 37.105 5.201 37.164 5.244 37.391 5.06 38.953 3.891 40.193 3.482 42.292 3.482 44.593 3.482 46.644 4.088 48.85 5.398 51.212 6.793 52.464 8.386 52.344 9.879 52.284 10.626 52.368 10.711 53.203 10.711 53.823 10.711 55.302 11.231 56.125 11.739 56.566 12.007 57.21 12.627 57.794 13.317 59.273 15.064 60 17.065 60 19.46 60 21.207 59.38 23.095 58.45 24.167 58.45 24.167 57.997 24.688 57.997 24.688 57.997 24.688 58.342 25.562 58.342 25.562 59.13 27.549 59.248 29.704 58.688 31.494 58.092 33.354 56.793 35.143 55.206 36.256 53.763 37.27 51.7 37.805 50.376 37.51 50.376 37.51 49.745 37.383 49.745 37.383 L49.745 38.046 C49.745 39.68 48.838 41.751 47.622 42.906 45.988 44.457 43.83 45.288 41.397 45.288 39.144 45.273 37.415 44.653 36.365 43.442 36.114 43.16 35.901 42.949 35.876 42.992 34.195 45.81 32.108 47.189 29.126 47.458 26.79 47.669 24.714 47.232 22.723 46.077 21.006 45.091 20.171 44.076 19.515 42.173 19.504 42.16 19.181 42.301 18.788 42.484 15.985 43.823 11.753 42.639 9.225 39.821 7.77 38.186 7.138 36.524 7.126 34.269 7.126 34.269 7.113 32.945 7.113 32.945 7.113 32.945 6.493 32.691 6.493 32.691 4.251 31.761 2.798 29.817 2.213 26.985 1.903 25.533 1.939 22.969 2.273 21.349 2.809 18.727 4.121 16.529 5.469 15.98 6.076 15.727 6.1 15.698 6.1 15.205 6.1 14.346 6.541 12.584 7.078 11.372 7.711 9.935 9.308 7.977 10.572 7.103 13.613 5.005 16.928 4.793 19.181 6.553 19.181 6.553 19.79 7.032 19.79 7.032 19.79 7.032 20.135 6.455 20.135 6.455 20.589 5.68 21.805 4.496 22.783 3.904 23.606 3.397 24.941 2.848 26.253 2.454 27.374 2.129 31.023 2.059 32.275 2.326 Z M49.49 50.181 C49.866 50.483 50.058 50.823 50.105 51.287 50.137 51.589 50.201 51.711 50.378 51.834 50.873 52.184 50.889 53.015 50.41 53.534 50.25 53.714 50.05 53.846 49.93 53.846 49.786 53.846 49.73 53.893 49.73 54.016 49.73 54.62 48.659 54.904 47.972 54.488 47.74 54.347 47.572 54.158 47.492 53.969 47.388 53.695 47.332 53.657 47.044 53.657 46.62 53.657 46.213 53.336 46.069 52.882 45.966 52.561 45.973 52.496 46.126 52.118 46.221 51.891 46.293 51.522 46.293 51.277 46.293 50.682 46.549 50.247 47.004 50.078 47.324 49.964 47.388 49.964 47.724 50.125 48.076 50.304 48.1 50.304 48.371 50.143 48.755 49.907 49.171 49.927 49.49 50.181 Z M46.789 50.323";
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-padding: 20 30 45 30;
}

.thought-box-left {
    -fx-shape: "M5.134 41.281 C4.573 41.732 4.287 42.24 4.216 42.931 4.169 43.381 4.073 43.564 3.81 43.747 3.071 44.269 3.047 45.509 3.762 46.283 4.001 46.551 4.299 46.748 4.478 46.748 4.693 46.748 4.776 46.819 4.776 47.002 4.776 47.904 6.374 48.327 7.4 47.707 7.746 47.496 7.996 47.214 8.115 46.932 8.271 46.523 8.354 46.467 8.783 46.467 9.415 46.467 10.023 45.988 10.238 45.311 10.392 44.832 10.381 44.734 10.154 44.171 10.011 43.832 9.904 43.282 9.904 42.916 9.904 42.029 9.522 41.38 8.843 41.127 8.366 40.958 8.271 40.958 7.769 41.197 7.244 41.465 7.209 41.465 6.803 41.225 6.231 40.872 5.611 40.902 5.134 41.281 Z M29.725 2.326 C27.673 2.777 26.183 3.566 25.349 4.624 24.895 5.201 24.836 5.244 24.609 5.06 23.047 3.891 21.807 3.482 19.708 3.482 17.407 3.482 15.356 4.088 13.15 5.398 10.788 6.793 9.536 8.386 9.656 9.879 9.716 10.626 9.632 10.711 8.797 10.711 8.177 10.711 6.698 11.231 5.875 11.739 5.434 12.007 4.79 12.627 4.206 13.317 2.727 15.064 2 17.065 2 19.46 2 21.207 2.62 23.095 3.55 24.167 3.55 24.167 4.003 24.688 4.003 24.688 4.003 24.688 3.658 25.562 3.658 25.562 2.87 27.549 2.752 29.704 3.312 31.494 3.908 33.354 5.207 35.143 6.794 36.256 8.237 37.27 10.3 37.805 11.624 37.51 11.624 37.51 12.255 37.383 12.255 37.383 L12.255 38.046 C12.255 39.68 13.162 41.751 14.378 42.906 16.012 44.457 18.17 45.288 20.603 45.288 22.856 45.273 24.585 44.653 25.635 43.442 25.886 43.16 26.099 42.949 26.124 42.992 27.805 45.81 29.892 47.189 32.874 47.458 35.21 47.669 37.286 47.232 39.277 46.077 40.994 45.091 41.829 44.076 42.485 42.173 42.496 42.16 42.819 42.301 43.212 42.484 46.015 43.823 50.247 42.639 52.775 39.821 54.23 38.186 54.862 36.524 54.874 34.269 54.874 34.269 54.887 32.945 54.887 32.945 54.887 32.945 55.507 32.691 55.507 32.691 57.749 31.761 59.202 29.817 59.787 26.985 60.097 25.533 60.061 22.969 59.727 21.349 59.191 18.727 57.879 16.529 56.531 15.98 55.924 15.727 55.9 15.698 55.9 15.205 55.9 14.346 55.459 12.584 54.922 11.372 54.289 9.935 52.692 7.977 51.428 7.103 48.387 5.005 45.072 4.793 42.819 6.553 42.819 6.553 42.21 7.032 42.21 7.032 42.21 7.032 41.865 6.455 41.865 6.455 41.411 5.68 40.195 4.496 39.217 3.904 38.394 3.397 37.059 2.848 35.747 2.454 34.626 2.129 30.977 2.059 29.725 2.326 Z M12.51 50.181 C12.134 50.483 11.942 50.823 11.895 51.287 11.863 51.589 11.799 51.711 11.622 51.834 11.127 52.184 11.111 53.015 11.59 53.534 11.75 53.714 11.95 53.846 12.07 53.846 12.214 53.846 12.27 53.893 12.27 54.016 12.27 54.62 13.341 54.904 14.028 54.488 14.26 54.347 14.428 54.158 14.508 53.969 14.612 53.695 14.668 53.657 14.956 53.657 15.38 53.657 15.787 53.336 15.931 52.882 16.034 52.561 16.027 52.496 15.874 52.118 15.779 51.891 15.707 51.522 15.707 51.277 15.707 50.682 15.451 50.247 14.996 50.078 14.676 49.964 14.612 49.964 14.276 50.125 13.924 50.304 13.9 50.304 13.629 50.143 13.245 49.907 12.829 49.927 12.51 50.181 Z M15.211 50.323";
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-padding: 20 30 45 30;
}

.color-label {
    -fx-font-weight: bold;
}

.background {
    -fx-background-color: #3C3F41;
}

.narrative-bar {
    -fx-font-family: "Arial Black";
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #ffffff, 3, 1, 0, 0);
}

.narrative-bar-top-small {
    -fx-font-size: 13;
    -fx-padding: 0 20 10 20;
}

.narrative-bar-top-large {
    -fx-font-size: 16;
    -fx-padding: 0 20 40 20;
}

.narrative-bar-bottom-small {
    -fx-font-size: 13;
    -fx-padding: 10 20 0 20;
}

.narrative-bar-bottom-large {
    -fx-font-size: 16;
    -fx-padding: 40 20 0 20;
}

.captured-scene:focused {
    -fx-effect: dropshadow(gaussian, #7EA3D5, 5, 0.75, 0, 0);
}

.scroll-pane {
    -fx-background: #3C3F41;
    -fx-background-color: #3C3F41;
}